{% load sniplates l10n %}
{% load_widgets kv='sniplates/key-value.html' %}

{% for pand in items %}
<article class="bag-object bag-object--pand">
    <div class="bag-object__identificatie">{{ pand.identificatiecode }}</div>

    <div class="bag-object__meta">
        {% nested_widget 'kv:key-value' label=_("Construction year") %}
            {{ pand.oorspronkelijkBouwjaar|unlocalize }}
        {% endnested %}

        {% nested_widget 'kv:key-value' label=_("Status") %}
            {{ pand.status }}
        {% endnested %}

        {% nested_widget 'kv:key-value' label=_("Number of verblijfsobjects") %}
            {{ pand.verblijfsobjecten|length }}
        {% endnested %}
    </div>

    <section class="bag-object__adressen">
        <div class="section-title">Adressen ({{ pand.adressen|length }})</div>

        {% for adres in pand.adressen %}
            <address class="bag-object__adres">
                {{ adres.or_naam }} {{ adres.huisnummer|unlocalize }}{{ adres.huisletter|default:'' }}
                <br>
                {{ adres.postcode|default:'geen postcode' }}
                <br>
                {{ adres.woonplaats }}
            </address>
        {% endfor %}
    </section>

</article>
{% endfor %}
