{% load sniplates %}
{% load_widgets form='sniplates/forms.html' %}
{% if forms %}
<section class="zaak-detail__messages">
    {% for form in forms %}
    <form action="{% url 'core:send-message' %}" method="post" class="form">
        {% csrf_token %}
        {{ form.definition_id }}
        {{ form.zaak_url }}

        <div class="zaak-detail__message-form">
            {% form_field form.message %}
            <div>
                <button type="submit" class="btn btn--small">Verstuur</button>
            </div>
        </div>
    </form>
    {% endfor %}
</section>
{% endif %}
