{% extends 'master.html' %}
{% load i18n %}

{% block menu %}{% endblock %}

{% block content %}

 <h1>Sorry, you don't have access to this page (403)</h1>    

{% if has_requested_access %}
    <p>
        {% trans "You have already requested access to this page." %}
    </p>
{% else %}
    {% url 'core:access-request-create' bronorganisatie=zaak_kwargs.bronorganisatie identificatie=zaak_kwargs.identificatie as request_url %}
    {% blocktrans trimmed %}
        <p>You can <a href="{{ request_url }}">request access</a> for this page</p>
    {% endblocktrans %}
{% endif %}

{% endblock content %}
