{% load static i18n hijack zac_hijack_notifications %}<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Zaakafhandel en -inzage{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,600|Material+Icons|Material+Icons+Outlined" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">

        <link href="{% static 'css/font-awesome.min.css' %}" media="screen" rel="stylesheet" />
        <link href="{% static 'css/screen.css' %}" media="screen" rel="stylesheet" type="text/css" />
        <link href="{% static 'hijack/hijack.css' %}" rel="stylesheet" type="text/css" />
        {% block extra_css %}{% endblock %}
        <link href="{% static 'ico/favicon.png' %}" rel="shortcut icon">
    </head>

    <body class="{% block body-class %}{% endblock %}">
        {% hijack_notification %}
        {% block post-body %}{% endblock %}

        <header>
            <div class="logo">
                <img src="{% static "img/wapen-utrecht-rood.svg" %}">
            </div>
        </header>

        <main class="main">

            <section class="main__content content-panel">
                {% block content %}
                    Override <code>{% verbatim %}{% block content %}{% endverbatim %}</code>
                    to get some actual content.
                {% endblock %}
            </section>

        </main>

        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>
