{% extends "master.html" %}
{% load sniplates %}

{% block page-class %}landing{% endblock %}

{% block breadcrumbs %}
{% load_widgets crumbs='utrechtstijl/snippets/breadcrumbs.html' %}
{% nested_widget 'crumbs:crumbs' %}
    {% url 'index' as index_url %}
    {% widget 'crumbs:crumb' label=_("Zaakafhandeling") url=index_url %}
{% endnested %}
{% endblock breadcrumbs %}

{% block content %}

<div class="page-heading">

    <!-- START grid wrap -->
    <div class="grid-wrap">
        <h1>Zaakafhandeling</h1>
    </div>
    <!-- END grid wrap -->
</div>

<div class="toptaken">
    <ul>
        <li>
            <a href="{% url 'core:index' %}" class="topTasksButton">
                <i class="fa fa-building fa-2x"></i>
                <span>Bekijk alle zaken</span>
            </a>
        </li>
        <li>
            <a href="{% url 'regiezaken:index' %}" class="topTasksButton">
                <i class="fa fa-folder-open fa-2x"></i>
                <span>Bekijk regiezaken</span>
            </a>
        </li>
    </ul>
</div>

{% endblock %}
