{% extends "master.html" %}
{% load sniplates i18n %}

{% block content %}
<h1 class="page-title" title="Zaaktype">{% trans "Werkvoorraad" %}</h1>

<article class="open-work">

    <ul class="tab tab--inline" role="tablist">
        <li role="tab" id="work-tab-zaken"
            aria-controls="work-zaken"
            class="tab__tab tab__tab--active">
            <a href="#work-zaken">Zaken (behandelaar) ({{ zaken|length }})</a>
        </li>

        <li role="tab" id="work-tab-usertasks"
            aria-controls="work-usertasks"
            class="tab__tab">
            <a href="#work-usertasks">Taken (proces) ({{ user_tasks|length }})</a>
        </li>

        <li role="tab" id="work-tab-ad-hoc"
            aria-controls="work-ad-hoc"
            class="tab__tab">
            <a href="#work-ad-hoc">Ad-hoc activiteiten ({{ adhoc_activities|length }})</a>
        </li>

        <li role="tab" id="work-tab-access-requests"
            aria-controls="work-access-requests"
            class="tab__tab">
            <a href="#work-access-requests">Access requests ({{ access_requests|length }})</a>
        </li>
    </ul>

    <div class="tab__content tab__content--inline">
        <section
            class="tab__pane tab__pane--active"
            id="work-zaken"
            aria-labelledby="work-tab-zaken"
            role="tabpanel"
        >
            {% include "core/includes/zaken_table.html" with zaken=zaken %}
        </section>

        <section
            class="tab__pane"
            id="work-usertasks"
            aria-labelledby="work-tab-usertasks"
            role="tabpanel"
        >
            <ul class="list">
                {% for task in user_tasks %}
                    <li>
                        <a href="{% url 'core:zaak-task' task_id=task.id %}">
                            {{ task.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </section>

        <section
            class="tab__pane"
            id="work-ad-hoc"
            aria-labelledby="work-tab-ad-hoc"
            role="tabpanel"
        >
            <ul class="list">
                {% for activity_group in adhoc_activities %}
                    <li>
                        <a href="{% url 'core:zaak-activiteiten' bronorganisatie=activity_group.zaak.bronorganisatie identificatie=activity_group.zaak.identificatie %}"
                        >{{ activity_group.zaak.identificatie }}</a>
                        <ul>
                            {% for activity in activity_group.activities %}
                                <li>{{ activity }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </section>

        <section
             class="tab__pane"
             id="work-access-requests"
             aria-labelledby="work-tab-access-requests"
             role="tabpanel"
        >
            <ul>
                {% for access_request_group in access_requests %}
                    <li>
                        <a href="#"
                        >{{ access_request_group.zaak.identificatie }}</a>
                        <ul>
                            {% for access_request in access_request_group.requesters %}
                                <li>{{ access_request.requester.username }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </section>
    </div>
</article>
{% endblock %}
