{% load staticfiles %}<!DOCTYPE html>
{# Styles from https://github.com/GemeenteUtrecht/Designs #}
<html lang="nl">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Forceer standaarden in IE 9/10/11 -->

        <title>{% block title %}Zaakafhandelcomponent - Gemeente Utrecht{% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Generieke zaakafhandelcomponent">
        <meta name="author" content="">

        <link href="{% static 'css/font-awesome.min.css' %}" media="screen" rel="stylesheet" />
        <link href="{% static 'css/screen.css' %}" media="all" rel="stylesheet" />

        {% block extra_css %}{% endblock %}

        <link rel="shortcut icon" href="{% static 'ico/favicon.png' %}">
    </head>

    <body class="{% block body-class %}{% endblock %}">


        <!-- START page wrap: this holds positions of search, nav and other elements in check -->
        <div class="page-wrap">

            <!-- START header -->
            <header>

                <!-- START container for centering -->
                <div class="container">

                    <!-- START grid wrap -->
                    <div class="grid-wrap">

                        <div id="wapen">
                            <img src="{% static 'images/svg/wapen-utrecht-rood.svg' %}" alt="Wapen van de Gemeente Utrecht" />
                        </div>

                        <!-- START skiplinks -->
                        <div class="skiplinks">
                            <a href="#naar-menu" accesskey="1">
                                <img src="{% static 'images/svg/icoon-hamburger-rood.svg' %}" alt="" data-toggle="menu" />
                                <span>Naar menu</span>
                            </a>
                            <a href="#searchHomepage" accesskey="2">
                                <img src="{% static 'images/svg/icoon-zoek-rood.svg' %}" alt="" data-toggle="search" />
                                <span>Naar het zoekveld</span>
                            </a>
                        </div>
                        <!-- END skiplinks -->

                        <!-- START readspeaker -->
                        <div id="readspeaker_button1" class="rsbtn_colorskin rs_skip rs_preserve">
                            <a rel="nofollow" class="rsbtn_play" accesskey="L" title="Laat de tekst voorlezen met ReadSpeaker" href="https://app-eu.readspeaker.com/cgi-bin/rsent?customerid=7663&amp;lang=nl_nl&amp;readid=page-container&amp;url=http://www.utrecht.nl/">
                                <span class="rsbtn_left rsimg rspart">
                                    <span class="rsbtn_text">
                                        <span>Lees voor</span>
                                    </span>
                                </span>
                                <span class="rsbtn_right rsimg rsplay rspart"></span>
                            </a>
                        </div>
                        <!-- END readspeaker -->

                    </div>
                    <!-- END grid wrap -->

                </div>

            </header>

            <!-- START main page (white canvas) -->
            <div id="main">

                <!-- START container for centering -->
                <div class="container">

                    <!-- START actual page content -->
                    <article id="page-content" class="landing home">
                        {% block content %}
                            Override <code>{% verbatim %}{% block content %}{% endverbatim %}</code>
                            to get some actual content.
                        {% endblock %}
                    </article>
                    <!-- END page content -->
                </div>
                <!-- END container -->
            </div>
            <!-- END main -->

            <!-- START navigation -->
            <nav id="menu">

                <!-- START container for centering -->
                <div class="container">

                    <h2 class="assistive">Menu</h2>

                    <ul>
                        <li><a href="#" id="naar-menu">Wonen en leven</a></li>
                        <li><a href="#">Zorg en onderwijs</a></li>
                        <li><a href="#">Werk en inkomen</a></li>
                        <li><a href="#">Ondernemen</a></li>
                        <li><a href="#">Bestuur en organisatie</a></li>
                    </ul>

                    <p lang="en" class="english">
                        <a href="{{ request.path }}?lang=en">English</a>
                    </p>

                    <a href="#page-content" class="returnlink">
                        <img src="{% static 'images/svg/icoon-kruis-wit.svg' %}" alt="" data-toggle="menu" />
                        <span>Terug naar inhoud</span>
                    </a>

                </div>
                <!-- END container -->

            </nav>
            <!-- END navigation -->

            <!-- START search -->
            <section id="search">

                <!-- START container for centering -->
                <div class="container">

                    <h2 class="assistive">Zoeken</h2>

                    <!-- START solar search block -->
                    <div class="tx-solr">
                        <div id="searchBar" class="rs_skip">
                            <form id="tx-solr-search-form-pi-search" class="searchform" action="/zoeken/" method="get" accept-charset="utf-8">
                                <fieldset>
                                    <label for="searchHomepage" class="pRightLabel">Zoeken binnen Utrecht.nl</label>
                                    <input type="hidden" name="id" value="32655">
                                    <input type="hidden" name="L" value="0"/>
                                    <input type="text" id="searchHomepage" class="tx-solr-q field ui-autocomplete-input" name="q"
                                             autocomplete="off" spellcheck="false" value="" placeholder=""  aria-autocomplete="list" aria-haspopup="true">
                                    <input type="submit" value="Zoeken" id="inputButton" class="button">
                                </fieldset>
                            </form>
                        </div>
                    </div>
                    <!-- END solar search block -->

                    <a href="#page-content" class="returnlink"><img src="{% static 'images/svg/icoon-kruis-wit.svg' %}" alt="" data-toggle="search" /> <span>Terug naar inhoud</span></a>

                </div>
                <!-- END container for centering -->

            </section>
            <!-- END search -->

            <!-- START footer -->
            <footer>
                <div class="container">

                    <div class="grid-wrap">
                        <h2 class="group-heading">Hulp en contact</h2>
                        <ul class="contact">
                            <li>
                                <p><strong>Tel:</strong> 14 030</p>
                            </li>
                            <!--
                            <li>
                                <p><strong>Whatsapp:</strong> <a href="tel:+31638146758">06 38 14 67 58</a>
                                <em>ma tot en met vr 09.00&nbsp;-&nbsp;17.00&nbsp;uur</em></p>
                            </li>
                            -->
                            <li>
                                <h3>Stadskantoor</h3>
                                <p>Stadsplateau 1
                                    <br> 3521 AZ Utrecht</p>
                            </li>
                            <li><a href="" class="arrow">Alle contactinformatie</a></li>
                            <li><a href="/over-deze-site" class="arrow">Over deze site</a></li>
                        </ul>


                        <p class="social">
                            <a href="https://www.facebook.com/GemeenteUtrecht" class="facebook"><span>Gemeente Utrecht op Facebook</span></a>
                            <a href="https://twitter.com/gemeenteutrecht" class="twitter"><span>Gemeente Utrecht op Twitter</span></a>
                        </p>
                    </div>

                </div>
            </footer>
            <!-- END footer -->

        </div>
        <!-- END page wrap -->

    </body>
</html>
