{% load i18n %}

<table class="table">
    <thead>
        <tr>
            <th class="table__header">{% blocktrans %}Approval{% endblocktrans %}</th>
            <th class="table__header">{% blocktrans %}From{% endblocktrans %}</th>
            <th class="table__header">{% blocktrans %}Given on{% endblocktrans %}</th>
        </tr>
    </thead>

    <tbody>
        {% for approval in approvals %}
            <tr>
                <td>
                    {% if approval.approved %}
                        {% blocktrans %}Approved{% endblocktrans %}
                    {% else %}
                        {% blocktrans %}Not approved{% endblocktrans %}
                    {% endif %}
                </td>
                <td> {% firstof approval.author.get_full_name approval.author.username %}</td>
                <td>
                    <time title="{{ approval.created.isoformat }}">
                        {{ approval.created|timesince }} {% blocktrans %}ago{% endblocktrans %}
                    </time>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
