// Tooltips
.eTooltip-container
{
	display: none;

	@include tweakpoint('min-width',60em)
	{
		position: absolute;
		left: 0;
		top: auto !important;
		bottom: 100% !important;
		z-index: 100;
		margin-bottom: .5em;
		padding: 0.6em 0.8em;
		background: $lichtgeel;
		font-size: 0.9em;
	}
	
	&:after
	{
		@include tweakpoint('min-width',60em)
		{
			content: '';
			width: 0;
			height: 0;
			position: absolute;
			border-left: 12px solid transparent;
			border-right: 12px solid transparent;
			border-top: 16px solid $lichtgeel;
			bottom: -1em;
			left: 1.2em;
		}
	}
}

legend + .eTooltip-container
{
	@include tweakpoint('min-width',60em)
	{
		position: absolute;
		margin-bottom: 3.5em;
	}	
}


label.icon-help:after,
legend.icon-help:after
{
	@include tweakpoint('min-width',60em)
	{
		content: "i";
		display: inline-block;
		width: 1.4em;
		height: 1.4em;
		position: relative;
		top: -0.1em;
		left: 0.2em;
		border-radius: 50%;
		color: $wit;
		background-color: $donkerblauw;
		font-size: 0.8em;
		text-align: center;
	}
}

