// SEARCH BLOCK
.zoeken-loket-home
{
	padding: 1.8em 0 3em;
	background-color: $midgrijs;
}


// BOX DIGID
.box-digid
{
	display: none;
	
	.header
	{
		display: none;
	}
}


.alfabet-digid
{
	margin: 2em 0;
}

.digidcontainer
{
	margin: 2.75em 0 2em;
}


.theme-wrap
{
	ul.linklijst
	{
		margin-top: 3.5em;
	}
}
