@import "../../lib/bem";
@import "../../lib/typography";

.validsign-signer {
  padding: 1em;

  &:hover {
    background-color: rgba(#eee, 0.25);
    box-shadow: 1px 1px 3px 0px rgba(black, 0.1);
  }

  @include element("index") {
    @include subtitle;
    font-size: 1.3em;
    border-bottom: dashed 1px #eee;
  }

  @include element("select-user") {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .link {
      display: block;
      flex-grow: 1;
      margin-left: 1em;
    }
  }
}

.validsign-signer-add {
  padding-top: 1em;
  text-align: right;
}
