{% extends "sniplates/django.html" %}
{% load sniplates i18n %}


Container for label/help text/input
{% block _wrapper %}
<div class="input {{ errors|yesno:'input--invalid,' }}">
    {{ content }}
</div>
{% endblock %}

How to render labels
{% block _label %}
{% if label %}
    <label class="input__label" {% if id_for_label %}for="{{ id_for_label }}"{% endif %}>
        {{ label }}
        {% if not required %}
            <span class="label label--optional">optioneel</span>
        {% endif %}
    </label>
{% endif %}
{% endblock %}

How to render help_text
{% block _help %}
{% if help_text %}
    <span class="input__hint" id="hint_{{ id_for_label }}">{{ help_text }}</span>
{% endif %}
{% endblock %}

How to render errors
{% block _errors %}
{% for error in errors %}
    <div class="input__error">{{ error }}</div>
{% endfor %}
{% endblock %}

{% block input %}
{% with input_type=input_type|default:"text" %}
<input type="{{ input_type }}"
    name="{{ html_name }}"
    {{ required|yesno:"required," }}
    {% if help_text %}aria-describedby="hint_{{ id_for_label }}"{% endif %}
    id="{{ id }}"
    value="{{ raw_value|default:"" }}"
    class="input__control {{ css_classes }}"
    {{ widget.attrs|flatattrs }}
    {% if placeholder %}placeholder="{{ placeholder }}"{% endif %}
>
{% endwith %}
{% endblock %}

Form widgets

{% block non_field_errors %}
<div class="input {{ form.non_field_errors|yesno:'input--invalid,' }}">
    {% reuse '_errors' errors=form.non_field_errors %}
</div>
{% endblock %}

{% block non_form_errors %}
<div class="input {{ formset.non_form_errors|yesno:'input--invalid,' }}">
    {% reuse '_errors' errors=formset.non_form_errors %}
</div>
{% endblock %}

Actual input types

{% block TextInput %}
{% nested_widget ':_wrapper' %}
    {% reuse "_label" %}
    {% reuse "_help" %}
    {% reuse "_errors" %}
    {% reuse "input" css_classes=css_classes|add:" input__control--text" %}
{% endnested %}
{% endblock %}

{% block EmailInput %}
{% nested_widget ':_wrapper' %}
    {% reuse "_label" %}
    {% reuse "_help" %}
    {% reuse "_errors" %}
    {% reuse "input" input_type="email" css_classes=css_classes|add:" input__control--text" %}
{% endnested %}
{% endblock %}

{% block DateInput %}
{% nested_widget ':_wrapper' %}
    {% reuse "_label" %}
    {% reuse "_help" %}
    {% reuse "_errors" %}
    {% reuse "input" input_type="text" raw_value=value css_classes=css_classes|add:" input__control--text" %}
{% endnested %}
{% endblock %}

{% block DateTimeInput %}
{% nested_widget ':_wrapper' %}
    {% reuse "_label" %}
    {% reuse "_help" %}
    {% reuse "_errors" %}
    {% reuse "input" input_type="text" css_classes=css_classes|add:" input__control--text" %}
{% endnested %}
{% endblock %}

{% block FileInput %}
{% nested_widget ':_wrapper' %}
    {% reuse "_label" %}
    {% reuse "_help" %}
    {% reuse "_errors" %}
    {% reuse "input" input_type="file" value="" css_classes=css_classes|add:" input__control--text" %}
{% endnested %}
{% endblock %}

{% block PasswordInput %}
{% nested_widget ':_wrapper' %}
    {% reuse "_label" %}
    {% reuse "_help" %}
    {% reuse "_errors" %}
    {% reuse "input" input_type="password" raw_value="" css_classes=css_classes|add:" input__control--text" %}
{% endnested %}
{% endblock %}

{% block CheckboxInput %}
{% nested_widget ':_wrapper' %}
    <label for="{{ form_field.id_for_label }}" class="input__label">
        <input
            type="checkbox"
            name="{{ html_name }}"
            id="{{ id }}"
            {{ raw_value|yesno:'checked,' }}>
        {{ label }}
    </label>
    {% reuse "_help" %}
{% endnested %}
{% endblock %}

{% block Textarea %}
{% nested_widget ':_wrapper' %}
    {% reuse "_label" %}
    {% reuse "_help" %}
    {% reuse "_errors" %}
    <textarea
        name="{{ html_name }}"
        {{ required|yesno:"required," }}
        {% if help_text %}aria-describedby="hint_{{ id_for_label }}"{% endif %}
        id="{{ id }}"
        class="input__control input__control--textarea"
        {{ widget.attrs|flatattrs }}
        {% if placeholder %}placeholder="{{ placeholder }}"{% endif %}
    >{{ raw_value|default:'' }}</textarea>
{% endnested %}
{% endblock %}

{% block Select %}
{% nested_widget ':_wrapper' %}
    {% reuse "_label" id_for_label=None %}
    {% reuse "_help" %}
    {% reuse "_errors" %}
    <select name="{{ html_name }}" id="{{ id }}" class="input__control input__control--select" {{ widget.attrs|flatattrs }}>
    {% for choice in choices %}
        {% if choice.is_group %}
        <optgroup label="{{ choice.value }}">
            {% for val, display in choice.display %}
                {% reuse '_Select_Option' val=val value=value display=display %}
            {% endfor %}
        </optgroup>
        {% else %}
            {% reuse '_Select_Option' val=choice.value value=value display=choice.display %}
        {% endif %}
    {% endfor %}
    </select>
{% endnested %}
{% endblock %}

{% block RadioSelect %}
{% nested_widget ':_wrapper' %}
    {% reuse "_label" id_for_label=None %}
    {% reuse "_help" %}
    {% reuse "_errors" %}
    <ul id="{{ id }}" class="radio-select">
        {% for val, display in choices %}
            <li class="radio-select__option">
                <input
                    type="radio"
                    name="{{ html_name }}"
                    id="{{ id }}_{{ forloop.counter0 }}"
                    value="{{ val }}"
                    {% if val == value|default:"" %}checked{% endif %}
                >
                <label for="{{ id }}_{{ forloop.counter0 }}">{{ display }}</label>
            </li>
        {% endfor %}
    </ul>
{% endnested %}
{% endblock RadioSelect %}

{% block CheckboxSelectMultiple %}
{% nested_widget ':_wrapper' %}
    {% reuse '_label' %}
    {% reuse '_help' %}
    {% reuse '_errors' %}
    <ul id="{{ id }}" class="checkbox-select">
        {% for val, display in choices %}
            <li class="checkbox-select__option">
                <input
                    type="checkbox"
                    name="{{ html_name }}"
                    id="{{ id }}_{{ forloop.counter0 }}"
                    value="{{ val }}"
                    {% if val in value %}checked{% endif %}
                >
                <label for="{{ id }}_{{ forloop.counter0 }}">{{ display }}</label>
            </li>
        {% endfor %}

    </ul>
{% endnested %}
{% endblock %}

{% block CheckboxSelectDynamic %}
{% nested_widget ':_wrapper' %}
    {% reuse '_label' %}
    {% reuse '_help' %}
    {% reuse '_errors' %}

    <ul
        id="{{ id }}"
        class="checkbox-select checkbox-select--dynamic"
        data-name="{{ html_name }}"
        data-listen="{{ listen }}"
        data-values="{{ values }}"
        data-initial="{{ initial }}"
    >
    </ul>

{% endnested %}
{% endblock CheckboxSelectDynamic %}

{% block BagObjectSelectieField %}
{{ django_field }}
{% endblock BagObjectSelectieField %}


{% block DocumentSelectMultiple %}
{% nested_widget ':_wrapper' %}
    {% reuse '_label' %}
    {% reuse '_help' %}
    {% reuse '_errors' %}

    {{ form_field }}
{% endnested %}
{% endblock DocumentSelectMultiple %}


{% block AlfrescoDocument %}
{% nested_widget ':_wrapper' %}
    {% reuse '_label' %}
    {% reuse '_help' %}
    {% reuse '_errors' %}

    <div
        class="alfresco-document-selection"
        data-name="{{ html_name }}"
        data-id="{{ id_for_label }}"
        data-zaaktype="{{ form_field.field.zaak.zaaktype.url }}"
        data-bronorganisatie="{{ form_field.field.zaak.bronorganisatie }}"
    >
    </div>

{% endnested %}
{% endblock %}



Button interactions
{% block submit %}
<div class="input">
    <button type="submit" class="btn {{ primary|yesno:'btn--primary,' }}">{{ label|default:_("Submit") }}</button>
</div>
{% endblock %}
