<div class="bag-object-selection"
    data-autocomplete-url="{% url 'kadaster:adres-autocomplete' %}"
    data-adres-bag-object-url="{% if widget.name == 'verblijfsobject' %}{% url 'kadaster:adres-verblijfsobject' %}{% else %}{% url 'kadaster:adres-pand' %}{% endif %}"
>
    <input
        type="hidden" name="{{ widget.name }}"
        {% if widget.value != None %} value="{{ widget.value }}"{% endif %}
        {% include "django/forms/widgets/attrs.html" %}
    >

    <div class="bag-object-selection__map-container">
        <div class="bag-object-selection__map"></div>

        <input type="text" placeholder="Zoek adres" class="input leaflet-bar bag-object-selection__autocomplete">
        <a class="bag-object-selection__reset" href="#">🗙</a>
        <div class="bag-object-selection__autocomplete-results"></div>
    </div>


</div>
