@import "../../lib/bem";

$btn-group-border-radius: 1px !default;

.btn-group {
  padding: 1em 0;
  display: flex;

  & > :first-child {
    border-top-left-radius: $btn-group-border-radius;
    border-bottom-left-radius: $btn-group-border-radius;
  }

  & > :last-child {
    border-top-right-radius: $btn-group-border-radius;
    border-bottom-right-radius: $btn-group-border-radius;
  }

  @include modifier("slim") {
    padding: 0;

    .btn.btn--choice {
      padding: 0.3em 0.5em;
      font-size: 1em;
      border-color: #ddd;
    }
  }
}
