@import "../../lib/bem";
@import "../../lib/colors";
@import "../../lib/typography";


$filter-vertical-spacing: 0.5em !default;
$filter-background: white !default;
$filter-border-color: #ccc !default;
$filter-box-shadow: 1px 1px 4px rgba($filter-border-color, 0.75) !default;

/**
 * A single filter, usually part of a set of filters.
 */
.filter {
  box-shadow: $filter-box-shadow;

  & + & {
    margin-left: 1em;
  }

  @include element("title") {
    @include ellipsis;
    display: block;
    font-weight: 500;

    position: relative;
    padding: $filter-vertical-spacing 1em;
    border: solid 1px $filter-border-color;
    background: $filter-background;

    cursor: pointer;
    z-index: 0;
  }

  @include element("fields") {
    display: none;
    padding: 0.5em;
    width: 50%;
    max-height: 75vh;
    overflow-y: auto;

    position: absolute;
    // left: var(--index, 0);
    margin-top: -1px;
    z-index: 2;

    background: $filter-background;
    box-shadow: $filter-box-shadow;
    border: solid 1px $filter-border-color;
    border-radius: 2px;
  }

  @include element("toggle") {
    display: none;

    &:checked + .filter__title {
      border-bottom: none;
      z-index: 3;
      font-style: italic;
    }

    &:checked + .filter__title + .filter__fields {
      display: block;
    }
  }

}
