$filters-background: white !default;

.filters {
  display: flex;
  flex-wrap: wrap;
  background: $filters-background;
  padding: 1.5em 0;
  border-bottom: solid 1px rgba(black, 0.1);

  position: sticky;
  top: 0;

  & &__submit {
    text-align: right;
    align-self: center;
    margin-left: auto;
  }
}
