@import "../../lib/bem";
@import "../../lib/colors";
@import "../../lib/responsive";

$form-centered-width--normal: 40vw !default;

.form {
  display: block;

  @include modifier("centered") {
    width: $form-centered-width--normal;
    margin-left: auto;
    margin-right: auto;
  }

  @include modifier("centered-content") {
    text-align: center;
  }

  @include modifier("large") {
    .input__label,
    .input__control {
      font-size: 1.4rem;
    }
  }

  @include modifier("modal") {
    padding-right: 2rem;
  }

  @include modifier("wide") {
    width: calc(100% - 2rem);
  }

  @include element("group-title") {
    font-size: 1.2rem;

    &:after {
      content: " ";
      display: block;
      width: 75%;
      border: solid 1px $color-primary;
    }
  }

  @include element("field-group") {
    display: flex;
    flex-wrap: wrap;

    margin: 1em 0;
    padding: 0;
    border: none;

    &:last-child {
      margin-bottom: 0;
    }

    > * {
      flex: 1;
      padding-right: 1em;

      @include screen-xs() {
        width: 100%;
        flex: none;
      }
    }
  }
}
