@import "../../lib/colors";
@import "../../lib/responsive";

$form-centered-width--normal: 40vw !default;

.form {
  display: block;

  &#{&}--centered {
    width: $form-centered-width--normal;
    margin-left: auto;
    margin-right: auto;
  }

  &#{&}--centered-content {
    text-align: center;
  }

  &#{&}--large {
    .input__label,
    .input__control {
      font-size: 1.4rem;
    }
  }

  & &__group-title {
    font-size: 1.2rem;

    &:after {
      content: " ";
      display: block;
      width: 75%;
      border: solid 1px $color-primary;
    }
  }

  & &__field-group {
    display: flex;
    flex-wrap: wrap;

    margin: 1em 0;
    padding: 0;
    border: none;

    &:last-child {
      margin-bottom: 0;
    }

    > * {
      flex: 1;
      padding-right: 1em;

      @include screen-xs() {
        width: 100%;
        flex: none;
      }
    }
  }
}
