@import "../../lib/colors";

.input {
  border: 0;
  margin-bottom: 1em;
  padding: 0;
  position: relative;

  & &__control {
    border: 0;
    box-shadow: none;
    display: inline-block;
    font-size: 1.1rem;
    margin-right: 2rem;
    min-width: 0;
    width: 100%;

    &--text {
      background: #fff;
      border: solid 1px #eee;
      border-radius: 0;
      color: $color-text;
      font-size: 1.4rem;
      overflow: visible;
      padding: 0.5rem 1rem;

      &:focus {
        box-shadow: none;
        outline: 2px solid $color-secondary;
      }
    }

    &--textarea {
      border: solid 1px #eee;
      padding: 0.3rem 0.4rem;

      &:focus {
        outline: 2px solid $color-secondary;
      }
    }
  }

  & &__error {
    color: #ff0000;
    display: none;
    font-weight: bold;
    margin-bottom: 0.4rem;
    margin-top: -0.8rem;
  }

  & &__hint {
    color: lighten($color-text, 20%);
    display: block;
    font-style: italic;
    margin-bottom: 0.4em;
    margin-top: 0.2rem;
  }

  & &__label {
    display: block;
    margin-bottom: 0.4em;
    font-size: 1.1rem;
  }
}

.input__label .label {
  font-size: 0.9rem;
  color: $color-timestamp;
}
