{% load sniplates l10n %}

<article class="overige">
{% for group, objects in items %}
    <section class="overige__group">
        <div class="section-subtitle">{{ group }}</div>
        {% if group == 'verblijfsobject' %}
            {% include 'core/includes/zaakobjecten/verblijfsobject.html' with items=objects only %}
        {% else %}
            {% for object in objects %}
                {{ object.url|urlize }}
            {% endfor %}
        {% endif %}
    </section>
</article>
{% endfor %}
