{% load sniplates l10n %}
{% load_widgets kv='sniplates/key-value.html' %}

{% for vo in items %}
<article class="verblijfsobject">
    <div class="verblijfsobject__identificatie">{{ vo.identificatiecode }}</div>

    <div class="verblijfsobject__meta">
        {% nested_widget 'kv:key-value' label=_("Oppervlakte") %}
            {{ vo.oppervlakte }}
        {% endnested %}

        {% nested_widget 'kv:key-value' label=_("Status") %}
            {{ vo.status }}
        {% endnested %}
    </div>

    <section class="verblijfsobject__adressen">
        <div class="section-title">Adres</div>
        <address class="verblijfsobject__adres">
            {{ vo.adres.or_naam }} {{ vo.adres.huisnummer|unlocalize }}{{ vo.adres.huisletter }}
            <br>
            {{ vo.adres.postcode|default:'geen postcode' }}
            <br>
            {{ vo.adres.woonplaats }}
        </address>
    </section>
</article>
{% endfor %}
