@import 'base/grid/mixins';

.gu-dashboard {
  height: 100vh;
  flex-direction: row;
  background-color: white;
  display: flex;
  @include media-breakpoint-down(md) {
    flex-direction: column;
  }
  gu-sidenav {
    display: block;
    position: static;
    z-index: 1;
    align-self: stretch;
    @include media-breakpoint-down(md) {
      position: sticky;
      top: 0;
    }
  }
  .main-content-outer-wrapper {
    width: 100%;
    z-index: 0;
    overflow: auto;
    margin-left: 50px;
    @include media-breakpoint-down(md) {
      margin-left: 0;
    }
  }
}
