<div class="gu-dashboard">
  <gu-sidenav [menuItems]="menuItems"
              [bottomMenuItems]="bottomMenuItems"
              [selectedParentMenu]="selectedMenu"
              [logoUrl]="logoUrl"
              [mobileLogoUrl]="mobileLogoUrl"
              [currentUser]="currentUser"
  >
    <gu-zaak-select
      label='Direct naar zaak'
      placeholder='Zaaknummer'
      role='searchbox'
      (change)="zaakSelected($event)"
    ></gu-zaak-select>
  </gu-sidenav>
  <div class="main-content-outer-wrapper">
    <router-outlet></router-outlet>
  </div>
</div>

