<div class="gu-dashboard">
  <gu-sidenav [menuItems]="menuItems"
              [selectedParentMenu]="selectedMenu"
              [logoUrl]="logoUrl"
              [mobileLogoUrl]="mobileLogoUrl"
              [currentUser]="currentUser"
              (logOut)="logOutUser()"
  >
    <gu-zaak-select
      label='Direct naar zaak'
      placeholder='Zaaknummer'
      role='searchbox'
      (change)="zaakSelected($event)"
      [appendTo]="'zaak-select'"
    ></gu-zaak-select>
  </gu-sidenav>
  <div class="main-content-outer-wrapper">
    <router-outlet></router-outlet>
  </div>
  <app-warning-banner [warningMessage]="warningMessage"></app-warning-banner>
</div>
