{% load i18n sniplates %}
{% load_widgets key_value='snippets/key_value.html' %}

<article class="document" data-uuid="{{ document.id }}">
    <table>
        <tbody>
            {% widget 'key_value:label-value' label=_("Identificatie") value=document.identificatie %}
            {% widget 'key_value:label-value' label=_("Type") value=document.informatieobjecttype.omschrijving %}
            {% widget 'key_value:label-value' label=_("Titel") value=document.titel %}
            {% widget 'key_value:label-value' label=_("Vertrouwelijkheidaanduiding") value=document.vertrouwelijkheidaanduiding %}
            {% widget 'key_value:label-value' label=_("Bestandsgrootte") value=document.bestandsomvang|filesizeformat %}
            {% widget 'key_value:label-value' label=_("Titel") value=document.titel %}

        </tbody>
    </table>

    <a href="{{ document.inhoud }}" class="button sec" target="_blank" rel="nofollow">Download</a>

</article>
