{% load l10n %}

<section class="user-tasks">

    {% for task in tasks %}
        <div class="user-task" data-id="{{ task.id }}">

            <div class="user-task__description">
                {{ task.name }}
                <time class="user-task__created" title="{{ task.created }}">
                    {{ task.created|timesince }} geleden aangemaakt
                </time>
            </div>

            <div class="user-task__due">
                {% if task.due %}
                    <time title="{{ task.due }}" class="material-icons">
                        {# TODO: use _full if due date is expired #}
                        hourglass_empty
                    </time>
                    over {{ task.due|timeuntil }}
                {% endif %}
            </div>

            <div class="user-task__assignee">
                {% if task.assignee %}
                    {{ task.assignee }}
                {% else %}
                    <form class="user-task__claim" method="post" action="#TODO">
                        <input type="hidden" name="task-id" value="{{ task.id }}">
                        <button
                            type="submit"
                            class="btn btn--small"
                            title="Claim de taak om deze uit te voeren. Je wordt hierdoor de assignee.">
                            Claim
                        </button>
                    </form>
                {% endif %}
            </div>
        </div>
    {% endfor %}

</section>
