{% load l10n %}

<section class="user-tasks">

    {% for task in tasks %}
        <div class="user-task" data-id="{{ task.id }}">

            <div class="user-task__description">
                {{ task.name }}
                <time class="user-task__created" title="{{ task.created }}">
                    {{ task.created|timesince }} geleden aangemaakt
                </time>
            </div>

            <div class="user-task__due">
                {% if task.due %}
                    <time title="{{ task.due }}" class="material-icons">
                        {# TODO: use _full if due date is expired #}
                        hourglass_empty
                    </time>
                    over {{ task.due|timeuntil }}
                {% endif %}
            </div>

            <div class="user-task__assignee" title="Assignee {% if task.assignee == request.user %} (jij!){% endif %}">
                {% if task.assignee %}
                    {% with task.assignee.get_full_name|default:task.assignee.username as assignee %}

                        {% if task.form %}
                            {% if task.assignee != user %}
                                <div>Taak is al geclaimd!</div>
                            {% else %}
                                <div>
                                    <a href="{% url 'core:zaak-task' task_id=task.id bronorganisatie=zaak.bronorganisatie identificatie=zaak.identificatie %}"
                                       class="btn btn--small">Uitvoeren</a>
                                </div>
                            {% endif %}
                        {% elif task.form_key %}
                            <div>TODO: implement task forms!</div>
                        {% endif %}

                        <strong>{{ assignee }}</strong>
                    {% endwith %}

                {% else %}
                    <form class="user-task__claim" method="post" action="{% url 'core:claim-task' %}">
                        {% csrf_token %}
                        <input type="hidden" name="task_id" value="{{ task.id }}">
                        <button
                            type="submit"
                            class="btn btn--small"
                            title="Claim de taak om deze uit te voeren. Je wordt hierdoor de assignee.">
                            Claim
                        </button>
                        {% if task.form %}
                            of
                            <a href="{% url 'core:zaak-task' task_id=task.id bronorganisatie=zaak.bronorganisatie identificatie=zaak.identificatie %}"
                               class="btn btn--small">Uitvoeren</a>
                        {% endif %}
                    </form>
                {% endif %}

            </div>
        </div>
    {% endfor %}

</section>
