{# Tabs header #}
<ul class="tab tab--inline" role="tablist">
    {% for group in zaakobjecten %}
        <li role="tab" id="obj-type-tab{{ forloop.counter }}"
            aria-controls="obj-type{{ forloop.counter }}"
            class="tab__tab {% if forloop.first %}tab__tab--active{% endif %}">
            <a href="#obj-type{{ forloop.counter }}">{{ group.label }}</a>
        </li>
    {% endfor %}
</ul>

<div class="tab__content tab__content--inline">
    {% for group in zaakobjecten %}
    <section
        class="tab__pane {% if forloop.first %}tab__pane--active{% endif %}"
        id="obj-type{{ forloop.counter }}"
        aria-labelledby="obj-type-tab{{ forloop.counter }}"
        role="tabpanel">
        {% include group.template with items=group.items only %}
    </section>
    {% endfor %}
</div>
