<table class="table">
    <thead>
        <tr>
            <th class="table__header">Identificatie</th>
            <th class="table__header">Zaaktype</th>
            <th class="table__header">Startdatum</th>
            <th class="table__header">Geplande Einddatum</th>
            <th class="table__header">Einddatum</th>
        </tr>
    </thead>

    <tbody>
        {% for zaak in zaken %}
            <tr>
                <th class="table__id-column">
                    <a href="{% url 'core:zaak-detail' bronorganisatie=zaak.bronorganisatie identificatie=zaak.identificatie %}" class="link">
                        {{ zaak.identificatie }}
                    </a>
                </th>
                <td> {{ zaak.zaaktype.omschrijving }} </td>
                <td> {{ zaak.startdatum }} </td>
                <td> {{ zaak.einddatum_gepland|default:"-" }} </td>
                <td> {{ zaak.einddatum|default:"-" }} </td>
            </tr>
        {% endfor %}
    </tbody>

</table>
