@import "../../lib/bem";

.checkbox-select {
  padding: 0;
  margin: 0;
  list-style-type: none;

  @include element("option") {
    margin-bottom: 0.5rem;
    display: flex;

    > input[type="checkbox"] {
      margin-top: 5px;
      margin-right: 10px;
    }

    > label {
      margin-top: 0;
      cursor: pointer;
    }
  }

  @include element("label") {
    background-color: #f3f3f3;
    border: .1rem solid #f3f3f3;
    cursor: pointer;
    display: inline-block;
    min-height: 3rem;
    padding: 1rem 1rem 1rem 4rem;
    position: relative;
    width: 100%;
    margin-bottom: 0.8rem;
    &::before {
      background-color: #fff;
      border: 1px solid #999;
      content: "";
      width: 1.2rem;
      height: 1.2rem;
      left: 0;
      top: 1.1rem;
      margin-left: 1.4rem;
      position: absolute;
    }
  }

  @include element("options") {
    padding-left: 1rem;
    margin-bottom: 2rem;
  }

  @include element("checkbox") {
    > input[type="checkbox"] {
      visibility: hidden;
      position: absolute;
      margin-bottom: 0.8rem;
    }

    > input[type="checkbox"]:checked + .checkbox-select__label {
      border-color: $color-primary;
    }

    > input[type="checkbox"]:checked + .checkbox-select__label:before {
      background-color: $color-primary;
      border: $color-primary;
    }

    > input[type="checkbox"]:checked + .checkbox-select__label:after {
      font-family: FontAwesome;
      content: "\f00c";
      color: white;
      font-size: 0.9rem;
      position: absolute;
      left: 0;
      margin-top: -0.09rem;
      margin-left: 1.55rem;
    }
  }
}
