{% extends "master.html" %}
{% load sniplates l10n %}


{% block content %}
<h1 class="page-title">
    {% if form.instance.id %}
        Change {{ form.instance.name }}
    {% else %}
        Nieuwe permission set
    {% endif %}
</h1>


<form action="." method="post" class="form">
    {% csrf_token %}

    {% load_widgets form='sniplates/forms.html' %}

    {% widget 'form:non_field_errors' %}

    <div class="form__field-group">
        {% form_field form.name %}
        {% form_field form.description %}
    </div>

    <div class="form__field-group">
        {% form_field form.permissions %}
    </div>

    <div class="form__field-group">
        {% form_field form.catalogus %}
        {{ form.get_zaaktypen|json_script:"catalogus-zaaktypen" }}
        {{ form.get_initial_zaaktypen|json_script:"initial-zaaktypen" }}
        {% form_field form.zaaktype_identificaties "form:CheckboxSelectDynamic" listen="id_catalogus" values="catalogus-zaaktypen" initial="initial-zaaktypen"%}
    </div>

    {% form_field form.max_va %}

    <h3>Adjust informatieobjecttype permissions</h3>


    <div class="informatieobjecttype-permissions"
        data-extra="{{ informatieobjecttype_formset.extra|unlocalize }}"
        data-prefix="{{ informatieobjecttype_formset.prefix }}"
        data-min-num="{{ informatieobjecttype_formset.min_num|unlocalize }}"
        data-max-num="{{ informatieobjecttype_formset.max_num|unlocalize }}"
        data-initial="{{ informatieobjecttype_formset.initial_form_count|unlocalize }}"
        data-formdata-element="initial-data"
        data-informatieobjecttype-data="informatieobjecttype-data"
        data-catalog-data="catalog-data"
    >
        {{ informatieobjecttype_formset.initial_data|json_script:"initial-data" }}
        {{ informatieobjecttype_formset.get_informatieobjecttype_choices|json_script:"informatieobjecttype-data" }}
        {{ informatieobjecttype_formset.get_catalogs_choices|json_script:"catalog-data" }}
        {# Managed by react #}
    </div>

    {% widget 'form:submit' label=_("Toevoegen") %}
</form>

{% endblock %}
