{% extends "master.html" %}
{% load sniplates %}

{% block nav-main-id %}
<article class="object-id">
    <h1 class="object-id__identifier" title="Identificatie">
        {{ auth_profile.name }}
    </h1>
</article>
{% endblock %}

{% block content %}
<h1 class="page-title">
    {{ auth_profile.name }}
    <small class="page-title__extra">koppel gebruiker</small>
</h1>


<form action="." method="post" class="form">
    {% csrf_token %}

    {% load_widgets form='sniplates/forms.html' %}

    {% widget 'form:non_field_errors' %}

    <div class="form__field-group">
        {% form_field form.user %}
        <div></div>
    </div>

    <div class="form__group-title">
        Geldigheid
    </div>
    <div class="form__field-group">
        {% form_field form.start %}
        {% form_field form.end %}
    </div>

    {% widget 'form:submit' label=_("Toevoegen") %}

</form>

{% endblock %}
