.search {

  & &__form {
    display: flex;
    flex-wrap: wrap;

    padding: 2em 4em;

    > .section-title {
      width: 100%;
    }
  }

  & &__type {
    flex: 1;
  }

  & &__query {
    flex: 1;
  }

  & &__object-types {
    display: none;

    &--active {
      display: block;
    }
  }

  & &__widget {
    display: none;

    &--active {
      display: block;
    }
  }
}
