@import "../lib/colors";

$zaak-detail__panel-spacing: $content-panel-spacing !default;

.zaak-detail-page {

  & &__header {
    display: flex;
    align-items: center;
  }

  .page-title,
  .page-controls {
    flex: 1;
    margin-bottom: 1rem;
  }
}

.zaak-detail {

  margin-left: -0.5em;
  margin-right: -0.5em;

  display: flex;
  flex-wrap: wrap;

  &__panel {
    display: block;
    width: calc(50% - #{$zaak-detail__panel-spacing});

    &--full {
      width: 100%;
    }

    > .section-title {
      margin-bottom: 0.5em;
      margin-left: -0.5em;
      padding-left: 0.5em;
      border-left: solid 4px rgba($color-secondary, 0.8);
    }
  }

  & &__deadline-progress {
    margin: 1em;
  }

  & &__statuses {
    margin: 1em;
  }

  & &__status-details {
    display: flex;
  }

  & &__status,
  & &__status-toelichting {
    flex: 1;
  }

  & &__resultaat {
    width: 100%;
    margin: 0 0.5rem 0.5rem;
    font-size: 1.3em;

    display: flex;
    align-items: center;
    background: $color-primary;
    color: #fff;
    padding: 0.5em;
    border-radius: 3px;

    .material-icons {
      color: #fff;
      margin-right: 0.5em;
      font-size: 1.2em;
    }
  }

  & &__messages {
    border-bottom: solid 1px #eee;
    margin-bottom: 1em;
    padding-bottom: 1em;
  }

  & &__message-form {
    display: flex;
    align-items: flex-end;

    .input {
      margin-right: 1em;
      margin-bottom: 0;
    }

    .input__label {
      font-weight: 700;
    }
  }
}
