@import "../lib/colors";

$zaak-detail__panel-spacing: $content-panel-spacing !default;

.zaak-detail {

  margin-left: -0.5em;
  margin-right: -0.5em;

  display: flex;
  flex-wrap: wrap;

  &__panel {
    display: block;
    width: calc(50% - #{$zaak-detail__panel-spacing});

    &--full {
      width: 100%;
    }

    > .section-title {
      margin-bottom: 0.5em;
      margin-left: -0.5em;
      padding-left: 0.5em;
      border-left: solid 4px rgba($color-secondary, 0.8);
    }
  }
}
