{% load i18n %}

{% comment %}
A row-preview for a zaak in regiezaak detail.

Expects:
- {{ zaak }} variable, instance of zgw.models.zrc.Zaak
- {{ zaaktype }} variable, instance of zgw.models.ztc.ZaakType
{% endcomment %}

<article class="zaak-preview">
    <h1 class="zaak-preview__zaaktype">{{ zaaktype.omschrijving }}</h1>

    <section class="zaak-preview__information">
        <div class="zaak-preview__assignee">
            {# TODO #}
            <i class="fa fa-user"></i>
            Willem Janssen
        </div>

        <div class="zaak-preview__status-progress" title="{{ zaak.status_information.omschrijving }}">
            Stap {{ zaak.status_information.volgnummer }} van {{ zaak.status_information.totaal }}
        </div>

        <div class="zaak-preview__deadline" title="{{ zaak.deadline|date:"d/m/Y" }}">
            Deadline: over {{ zaak.deadline|timeuntil }}
        </div>
    </section>

    {% if request.GET.showTasks == "1" %}
    <section class="zaak-preview__pe-tasks">
        {% include "regiezaken/includes/zaak_tasks.html" with tasks=zaak.tasks only %}
    </section>
    {% endif %}
</article>
