{% extends "master.html" %}
{% load i18n sniplates %}


{% block content %}
<h1 class="page-title">Zaken</h1>

<div class="section-title">Filters</div>

{% load_widgets form='sniplates/filters.html' %}
<form class="filters" action="." method="get">

    <div class="filters__group">
        {% form_field filter_form.identificatie %}
        {% form_field filter_form.bronorganisatie %}
    </div>

    <div class="filters__group">
        {% form_field filter_form.zaaktypen %}
    </div>

    <div class="filters__submit">
        <button type="submit">{% trans "Filter" %}</button>
    </div>
</form>

{% include "core/includes/zaken_table.html" with zaken=zaken %}

{% endblock content %}
