{% extends "master.html" %}
{% load i18n sniplates %}


{% block content %}
<h1 class="page-title">Zaken</h1>

<div class="section-title">Filters</div>

{% load_widgets form='sniplates/filters.html' %}
<form class="filters" action="." method="get">

    <div class="filters__group">
        {% form_field filter_form.identificatie %}
        {% form_field filter_form.bronorganisatie %}
    </div>

    <div class="filters__group">
        {% form_field filter_form.zaaktypen %}
    </div>

    <div class="filters__submit">
        <button type="submit">{% trans "Filter" %}</button>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Identificatie</th>
            <th>Zaaktype</th>
            <th>Startdatum</th>
            <th>Geplande Einddatum</th>
        </tr>
    </thead>

    <tbody>
        {% for zaak in zaken %}
            <tr>
                <th>
                    <a href="{% url 'core:zaak-detail' bronorganisatie=zaak.bronorganisatie identificatie=zaak.identificatie %}">
                        {{ zaak.identificatie }}
                    </a>
                </th>
                <td> {{ zaak.zaaktype }} </td>
                <td> {{ zaak.startdatum }} </td>
                <td> {{ zaak.einddatum_gepland|default:"-" }} </td>
            </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock content %}
