{% extends "core/zaak_task.html" %}
{% load i18n sniplates %}


{% block form_body %}

<div class="section-title">Selecteer documenten</div>

<article class="document-selection-container">

    {% for value, document in form.documenten.field.choices %}

        <div class="document-selection">
            <input
                type="checkbox"
                name="{{ form.documenten.name }}"
                value="{{ value }}"
                class="document-selection__toggle"
                id="document_{{ forloop.counter0 }}"
            >

            <label class="document-preview document-selection__preview" for="document_{{ forloop.counter0 }}">
                <i class="document-preview__icon document-preview__icon--large material-icons">
                    {{ document.icon }}
                </i>

                <span class="document-preview__meta">
                    <a href="{{ document.download_url }}"
                       class="link"
                       target="_blank"
                       rel="noopener nofollower">{% firstof document.doc.titel document.doc.bestandsnaam %}</a>
                    {{ document.doc.bestandsomvang|filesizeformat }}
                    <br/>
                    {{ document.doc.informatieobjecttype.omschrijving }}
                    ({{ document.doc.get_vertrouwelijkheidaanduiding_display }})
                    <br>
                    versie {{ document.doc.versie }}
                </span>
            </label>

        </div>

    {% endfor %}

</article>
{% endblock %}
