{% extends "master.html" %}
{% load i18n sniplates rules %}

{% block body-class %}zaak-detail-page{% endblock %}


{% block nav-main-id %}
<article class="object-id">
    <h1 class="object-id__identifier" title="Identificatie">
        {{ zaak.identificatie }}
    </h1>
    <p class="object-id__secondary" title="Bronorganisatie">
        {{ zaak.bronorganisatie }}
    </p>
    <p class="object-id__secondary" title="Startdatum">
        {{ zaak.startdatum|date }}
    </p>

    <p class="object-id__secondary" title="Vertrouwelijkheidaanduiding">
        <strong>{{ zaak.get_vertrouwelijkheidaanduiding_display }}</strong>
    </p>
</article>

{% block nav-main-id-subnav %}
{% has_perm 'zaken:zaken:toegang-verlenen' user zaak as can_handle_requests %}
{% count_access_requests bronorganisatie=zaak.bronorganisatie identificatie=zaak.identificatie as access_requests_count %}

<nav class="object-id-nav">
    <ul class="nav-menu nav-menu--object-id">
        {% nav_menu_item 'core:zaak-activiteiten' _("Activiteiten") bronorganisatie=zaak.bronorganisatie identificatie=zaak.identificatie %}
        {% nav_menu_item 'core:zaak-besluiten' _("Besluiten") bronorganisatie=zaak.bronorganisatie identificatie=zaak.identificatie %}
        {% if can_handle_requests %}
            {% nav_menu_item 'core:zaak-access-requests' _("Access requests") count=access_requests_count bronorganisatie=zaak.bronorganisatie identificatie=zaak.identificatie %}
        {% endif %}
    </ul>
</nav>
{% endblock %}

{% endblock %}


{% block content %}

{% has_perm 'zaakproces:send-bpmn-message' user zaak as can_send_bpmn_messages %}
{% has_perm 'zaakproces:usertasks-uitvoeren' user zaak as can_do_usertasks %}
{% has_perm 'zaak:afhandelen' user zaak as can_do_zaakafhandeling %}
{% has_perm 'zaken:create-status' user zaak as can_create_status %}
{% has_perm 'zaken:add-documents' user zaak as can_add_documents %}

{% load_widgets kv='sniplates/key-value.html' %}

<header class="zaak-detail-page__header">
    {% include "core/includes/zaaktype_header.html" %}

    <nav class="page-controls page-controls--align-right">

        {% if not zaak.einddatum %}

            {# TODO: permissions #}
            <a
                href="{% url 'core:zaak-activiteiten' bronorganisatie=zaak.bronorganisatie identificatie=zaak.identificatie %}"
                class="link link--plain"
            >
                <button type="button" class="btn btn--control btn btn--control-focus">
                    Activiteiten {% if activity_count %}({{ activity_count }}){% endif %}
                </button>
            </a>


            {% if can_do_zaakafhandeling %}
            <a href="{% url 'core:zaak-afhandeling' bronorganisatie=zaak.bronorganisatie identificatie=zaak.identificatie %}"
                class="link link--plain link--disabled"
                data-msg="Zaakafhandeling moet via de taken verlopen.">
                <button type="button" class="btn btn--control btn btn--control-focus">
                    Handel zaak af
                </button>
            </a>
            {% endif %}

            {% if can_create_status %}
                <a href="#" class="btn btn--control link link--plain link--disabled">Zet nieuwe status</a>
            {% endif %}
        {% endif %}
    </nav>
</header>

<article class="zaak-detail">

    {% if zaak.resultaat %}
    <section class="zaak-detail__resultaat" title="{{ resultaat.toelichting }}">
        <i class="material-icons" title="uitkomst">gavel</i>
        <strong>{{ resultaat.resultaattype.omschrijving }}</strong>
    </section>
    {% endif %}

    <section class="zaak-detail__panel content-panel">
        <div class="section-title">Zaakinformatie</div>

        <p class="content-panel__content {% if not zaak.omschrijving %}content-panel__content--blurred{% endif %}">
            {{ zaak.omschrijving|default:"(geen omschrijving)" }}
        </p>

        <p class="content-panel__content {% if not zaak.toelichting %}content-panel__content--blurred{% endif %}">
            {{ zaak.toelichting|linebreaksbr|default:"(geen toelichting)" }}
        </p>

        <div class="section-title">Eigenschappen</div>
        <div>
            {% for eigenschap in eigenschappen %}
                {% nested_widget 'kv:key-value' label=eigenschap.naam %}
                    {{ eigenschap.get_waarde }}
                {% endnested %}
            {% endfor %}
            <br>
        </div>

        <div class="section-title">Betrokkenen</div>
        <div id="betrokkenen-react" data-csrftoken="{{ csrf_token }}">
            {# React managed #}
        </div>
        {% for rol in rollen %}
            {% with rol.get_name|default:'' as name %}
                <div class="betrokkene-data"
                    data-system-type="{{ rol.betrokkene_type }}"
                    data-type="{{ rol.get_betrokkene_type_display }}"
                    data-role="{{ rol.get_roltype_omschrijving }}"
                    data-name="{{ name }}"
                    data-identification="{{ rol.get_identificatie|default:'' }}"
                >
                    {# React managed #}
                </div>
            {% endwith %}
        {% endfor %}
    </section>

    <section class="zaak-detail__panel content-panel">
        <div class="section-title">Status</div>

        {% nested_widget 'kv:key-value' label=_("Uiterlijke einddatum") %}
            {{ zaak.deadline|date|default:_("-") }}
        {% endnested %}

        {% if not zaak.einddatum %}
            <div class="zaak-detail__deadline-progress">
                {% include "includes/progress.html" with progress=zaak.deadline_progress %}
            </div>
        {% else %}
            <p class="content-panel__content content-panel__content--highlighted">
                Afgehandeld op {{ zaak.einddatum|date }}
            </p>
        {% endif %}

        Geschiedenis

        <ul class="timeline zaak-detail__statuses">

            {# Legenda #}
            <li class="timeline__item timeline__item--legenda">
                <div class="timeline__item-nr"></div>

                <div class="timeline__item-content zaak-detail__status-details">
                    <div class="zaak-detail__status">
                        <strong>Status</strong>
                    </div>
                    <div class="zaak-detail__status-toelichting">
                        <strong>Toelichting</strong>
                    </div>
                </div>
            </li>

            {# Status history #}
            {% for status in statussen %}
                <li class="timeline__item">
                    <div class="timeline__item-nr" title="volgnummer">
                        {{ status.statustype.volgnummer }}
                    </div>

                    <div class="timeline__item-content zaak-detail__status-details">

                        <div class="zaak-detail__status">
                            <strong>{{ status.statustype.omschrijving }}</strong>
                            <time class="timeline__item-timestamp" datetime="{{ status.datum_status_gezet.isoformat }}" title="{{ status.datum_status_gezet }}">
                                {{ status.datum_status_gezet|timesince }} geleden
                            </time>
                        </div>

                        <div class="zaak-detail__status-toelichting">
                            {{ status.statustoelichting|linebreaksbr|default:'-' }}
                        </div>

                    </div>
                </li>
            {% endfor %}

        </ul>

    </section>

    <section class="zaak-detail__panel zaak-detail__panel--full content-panel">
        {% if can_send_bpmn_messages or can_do_usertasks %}
            <div class="section-title">Actieve (keten)processen</div>

            <div class="process-interaction"
                 data-zaak="{{ zaak.url }}"
                 data-can-send-bpmn-messages="{{ can_send_bpmn_messages|yesno:'true,false' }}"
                 data-can-do-usertasks="{{ can_do_usertasks|yesno:'true,false' }}"
                 data-endpoint="{% url 'camunda:fetch-process-instances' %}?zaak_url={{ zaak.url }}"
                 data-claim-task-url="{% url 'core:claim-task' %}"
                 data-send-message-url="{% url 'core:send-message' %}"
                 data-csrftoken="{{ csrf_token }}"
                >
                    <!-- React managed -->
            </div>
        {% else %}
            <p class="permission-check permission-check--failed">
                Je hebt onvoldoende rechten op processturing.
            </p>
        {% endif %}
    </section>

    {% if review_requests %}
    <section class="zaak-detail__panel content-panel">
        <div class="section-title">Adviseren en accorderen</div>
        {{ review_requests|json_script:"reviewRequests" }}
        <div
            id="review-requests-react"
            data-download-url="{% url 'core:download-document' '_bronorganisatie_' '_identificatie_'%}?versie=_versie_"
        > {# React managed #} </div>
    </section>
    {% endif %}

    {% if related_zaken %}
    <section class="zaak-detail__panel zaak-detail__panel--full content-panel">
        <div class="section-title">Gerelateerde zaken ({{ related_zaken|length }})</div>

        <table class="table">
            <thead>
                <tr>
                    <th class="table__header">Identificatie</th>
                    <th class="table__header">Zaaktype</th>
                    <th class="table__header">Aard</th>
                    <th class="table__header">Status</th>
                    <th class="table__header">Resultaat</th>
                </tr>
            </thead>

            <tbody>
                {% for relatie_aard, zaak in related_zaken %}
                    <tr>
                        <th class="table__id-column">
                            {% include "core/includes/zaak_link.html" with zaak=zaak blank=True only %}
                        </th>
                        <td> {{ zaak.zaaktype.omschrijving }}</td>
                        <td> {{ relatie_aard }} </td>
                        <td> {{ zaak.status.statustype.omschrijving }} </td>
                        <td> {{ zaak.resultaat.resultaattype.omschrijving }} </td>
                    </tr>
                {% endfor %}
                {% for io_url in documenten_gone %}
                    <tr>
                        <td colspan="5">
                            Document <code>{{ io_url }}</code> bestaat niet (meer).
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    {% endif %}

    <section class="zaak-detail__panel zaak-detail__panel--full content-panel">
        <div class="section-title">Gerelateerde objecten</div>

        <div class="fetch-zaakobjecten" data-for-zaak="{{ zaak.url }}" data-url="{% url 'core:fetch-zaakobjecten' %}">
            {# include template is in core/includes/zaakobjecten.html #}
            <span class="loader"></span>
        </div>
    </section>

    <section class="zaak-detail__panel zaak-detail__panel--full content-panel">
        <div class="section-title">Documenten</div>

        <table class="table">
            <thead>
                <tr>
                    <th class="table__header">Op slot</th>
                    <th class="table__header">Type</th>
                    <th class="table__header">Titel</th>
                    <th class="table__header">Vertrouwelijkheidaanduiding</th>
                    <th class="table__header">Bestandsgrootte</th>
                    <th class="table__header">Download</th>
                </tr>
            </thead>

            <tbody>
                {% for document in documenten %}
                    <tr>
                        <td>
                            {% if document.locked %}
                            <span class="material-icons">lock</span>
                            {% else %}
                            <span class="material-icons">lock_open</span>
                            {% endif %}
                        </td>
                        <td> {{ document.informatieobjecttype.omschrijving }} </td>
                        <td> {{ document.titel }}</td>
                        <td> {{ document.get_vertrouwelijkheidaanduiding_display }} </td>
                        <td> {{ document.bestandsomvang|filesizeformat }} </td>
                        <th class="table__id-column">
                            {% include "core/includes/document_link.html" with document=document only %}
                        </th>
                    </tr>
                {% endfor %}
                {% for io_url in documenten_gone %}
                    <tr>
                        <td colspan="5">
                            Document <code>{{ io_url }}</code> bestaat niet (meer).
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if can_add_documents %}
            <div id="add-document-react" data-zaak="{{ zaak.url }}" data-csrftoken="{{ csrf_token }}">
                {# React managed #}
            </div>
        {% else %}
            <p class="permission-check permission-check--failed">
                Je hebt onvoldoende rechten om documenten toe te voegen.
            </p>
        {% endif %}

    </section>

</article>

{{ user_serializer.data|json_script:"currentUser" }}

{% endblock content %}
