{% extends "core/zaak_detail.html" %}
{% load i18n sniplates %}
{% load l10n %}

{% block content %}
{% load_widgets form='sniplates/forms.html' %}

<a href="{% url 'core:zaak-detail' bronorganisatie=zaak.bronorganisatie identificatie=zaak.identificatie %}" class="link link--backlink">
    Terug naar de zaakgegevens
</a>

<form action="." method="post" class="form" enctype="multipart/form-data">
    {% csrf_token %}

    {% if return_url %} <input type="hidden" name="return_url" value="{{ return_url }}"> {% endif %}

    <header class="zaak-detail-page__header">
        {% include "core/includes/zaaktype_header.html" %}

        <nav class="page-controls page-controls--align-right">
            <button type="submit" class="btn btn--control btn--control-focus">
                {% if open_url %}
                    Uitgevoerd
                {% else %}
                    Bewaren
                {% endif %}
            </button>
        </nav>

    </header>

    {% block form_body %}

    <article class="zaak-detail">

        <section class="zaak-detail__panel content-panel content-panel--flat">
            {% widget 'form:non_field_errors' %}

            <div class="form__group-title">Gegevens</div>
            <div class="form__field-group">
                <div class="grid">
                    {% for field in form %}
                        <div class="grid__column grid__column--col6">
                            {% form_field field %}
                        </div>
                    {% endfor %}
                </div>
            </div>

        </section>

        <section class="zaak-detail__panel content-panel">
            <div class="section-title">Zaakinformatie</div>

            <p class="content-panel__content {% if not zaak.omschrijving %}content-panel__content--blurred{% endif %}">
                {{ zaak.omschrijving|default:"(geen omschrijving)" }}
            </p>

            <p class="content-panel__content {% if not zaak.toelichting %}content-panel__content--blurred{% endif %}">
                {{ zaak.toelichting|linebreaksbr|default:"(geen toelichting)" }}
            </p>
        </section>

        {% if formset %}
            <section class="zaak-detail__panel content-panel content-panel--flat">
                <div class="form__group-title">Adviseur(s)</div>
                <div id="react-review-users"
                    data-extra="{{ formset.extra|unlocalize }}"
                    data-prefix="{{ formset.prefix }}"
                    data-min-num="{{ formset.min_num|unlocalize }}"
                    data-max-num="{{ formset.max_num|unlocalize }}"
                    data-initial="{{ formset.initial_form_count|unlocalize }}"
                    data-users="kownslUsers"
                    data-formdata-element="form-data"
                >
                    {{ formset.active_users|json_script:"kownslUsers" }}
                </div>
            </section>

        {% endif %}

    </article>

    {% endblock form_body %}

</form>

{{ open_url|json_script:"openUrl" }}

{% endblock content %}
