{% extends "core/zaak_detail.html" %}
{% load i18n rules sniplates %}


{% block content %}
<a href="{% url 'core:zaak-detail' bronorganisatie=zaak.bronorganisatie identificatie=zaak.identificatie %}" class="link link--backlink">
    Terug naar de zaakgegevens
</a>

<header class="zaak-detail-page__header">
    <h1 class="page-title" title="Zaaktype">
        {% blocktrans trimmed with identificatie=zaak.identificatie %}
            Access requests for {{ identificatie }}
        {% endblocktrans %}
        <br>
        <small class="page-title__extra" title="Zaaktype">
            {{ zaak.zaaktype.omschrijving }}
        </small>
    </h1>
</header>

<section class="content-panel content-panel--flat">

    <form action="." method="post">
        {% csrf_token %}

        {% load_widgets form='sniplates/forms.html' %}

        {{ formset.management_form }}
        {% widget 'form:non_form_errors' %}

        <table class="table">
            <thead>
                <tr>
                    <th class="table__header">#</th>
                    <th class="table__header">{% trans 'User' %}</th>
                    <th class="table__header">{% trans 'Comments' %}</th>
                    <th class="table__header">{% trans 'End date' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for form in formset %}
                    {% if form.non_field_errors %}
                        <tr>
                            <td colspan="3">{% widget 'form:non_field_errors' %}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        {{ form.id }}
                        <td>{{ form.checked }}</td>
                        <td>{{ form.instance.requester }}</td>
                        <td>{{ form.instance.comment }}</td>
                        <td>
                            {% widget "form:_errors" errors=form.end_date.errors %}
                            {{ form.end_date }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if formset.total_form_count %}
            <div class="btn-group">
                <button type="submit" name="submit" value="approve" class="btn btn--choice">{% trans "Approve" %}</button>
                <button type="submit" name="submit" value="reject" class="btn btn--choice">{% trans "Reject" %}</button>
            </div>
        {% endif %}
    </form>
</section>

<section class="content-panel content-panel--flat" style="margin-top: 4em;">
    <div class="section-title">{% trans "Handled requests" %}</div>
    <table class="table">
        <thead>
            <tr>
                <th class="table__header">{% trans "Requester" %}</th>
                <th class="table__header">{% trans "Handler" %}</th>
                <th class="table__header">{% trans "Result" %}</th>
                <th class="table__header">{% trans "From" %}</th>
                <th class="table__header">{% trans "Until" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for access_request in access_requests %}
                <tr>
                    <td> {% firstof access_request.requester.get_full_name access_request.requester.username %} </td>
                    <td> {% firstof access_request.handler.get_full_name access_request.handler.username %} </td>
                    <td> {{ access_request.get_result_display }} </td>
                    <td>
                        <time>{{ access_request.start_date|date }}</time>
                    </td>
                    <td>
                        <time>{{ access_request.end_date|date }}</time>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

{% endblock content %}
