{% extends "master.html" %}
{% load i18n sniplates %}


{% block nav-main-id %}
<article class="object-id">
    <h1 class="object-id__identifier" title="Identificatie">
        {{ zaak.identificatie }}
    </h1>
    <p class="object-id__secondary" title="Bronorganisatie">
        {{ zaak.bronorganisatie }}
    </p>
    <p class="object-id__secondary" title="Startdatum">
        {{ zaak.startdatum|date }}
    </p>
</article>
{% endblock %}



{% block content %}

{% load_widgets kv='sniplates/key-value.html' %}

<h1 class="page-title" title="Zaaktype">
    {{ zaaktype.omschrijving }}
    <small class="page-title__extra">
        versie {{ zaaktype.versiedatum|date }}
    </small>
</h1>



<article class="zaak-detail">

    <section class="zaak-detail__panel content-panel">
        <div class="section-title">Zaakinformatie</div>
        <p class="content-panel__content {% if not zaak.omschrijving %}content-panel__content--blurred{% endif %}">
            {{ zaak.omschrijving|default:"(geen omschrijving)" }}
        </p>
        <p class="content-panel__content {% if not zaak.toelichting %}content-panel__content--blurred{% endif %}">
            {{ zaak.toelichting|linebreaksbr|default:"(geen toelichting)" }}
        </p>

    </section>

    <section class="zaak-detail__panel content-panel">
        <div class="section-title">Betrokkenen</div>
        TODO
    </section>

    <section class="zaak-detail__panel content-panel">
        <div class="section-title">Status</div>

        {% nested_widget 'kv:key-value' label=_("Uiterlijke einddatum") %}
            {{ zaak.deadline|date|default:_("-") }}
        {% endnested %}

        <div class="zaak-detail__deadline-progress">
            {% include "includes/progress.html" with progress=zaak.deadline_progress %}
        </div>

        Geschiedenis

        <ul class="timeline zaak-detail__statuses">

            {# Legenda #}
            <li class="timeline__item timeline__item--legenda">
                <div class="timeline__item-nr"></div>

                <div class="timeline__item-content zaak-detail__status-details">
                    <div class="zaak-detail__status">
                        <strong>Status</strong>
                    </div>
                    <div class="zaak-detail__status-toelichting">
                        <strong>Toelichting</strong>
                    </div>
                </div>
            </li>

            {# Status history #}
            {% for status in statussen %}
                <li class="timeline__item">
                    <div class="timeline__item-nr" title="volgnummer">
                        {{ status.statustype.volgnummer }}
                    </div>

                    <div class="timeline__item-content zaak-detail__status-details">

                        <div class="zaak-detail__status">
                            <strong>{{ status.statustype.omschrijving }}</strong>
                            <time class="timeline__item-timestamp" datetime="{{ status.datum_status_gezet.isoformat }}" title="{{ status.datum_status_gezet }}">
                                {{ status.datum_status_gezet|timesince }} geleden
                            </time>
                        </div>

                        <div class="zaak-detail__status-toelichting">
                            {{ status.statustoelichting|linebreaksbr|default:'-' }}
                        </div>

                    </div>
                </li>
            {% endfor %}

        </ul>

    </section>

    <section class="zaak-detail__panel content-panel">
        <div class="section-title">Geometrie</div>
        TODO
    </section>

    <section class="zaak-detail__panel zaak-detail__panel--full content-panel">
        <div class="section-title">Gerelateerde objecten</div>
        TODO
    </section>

    <section class="zaak-detail__panel content-panel">
        <div class="section-title">Documenten</div>
    </section>

</article>



{% comment %}

<div class="primary bodycopy">
    <div class="grid-wrap">

        <div class="zaak">

            <div>

                <section class="zaak__box">
                    <h2 class="zaak__box-title">Documenten</h2>

                    {% for document in documenten %}
                        {% include "core/includes/document.html" with document=document only %}
                    {% empty %}
                        Geen documenten bekend
                    {% endfor %}

                </section>

            </div>


            <section class="zaak__box zaak__box--statussen">
                <h2 class="zaak__box-title zaak__box-title--space-bottom">Statussen</h2>



            </section>

        </div>

    </div>
</div>

{% endcomment %}


{% endblock content %}
