{% extends "core/zaak_detail.html" %}
{% load i18n sniplates %}


{% block content %}
{% load_widgets form='sniplates/forms.html' %}

<a href="{% url 'core:zaak-detail' bronorganisatie=zaak.bronorganisatie identificatie=zaak.identificatie %}" class="link link--backlink">
    Terug naar de zaakgegevens
</a>

<form action="." method="post" class="form" enctype="multipart/form-data">
    {% csrf_token %}

    {% if return_url %} <input type="hidden" name="return_url" value="{{ return_url }}"> {% endif %}

    <header class="zaak-detail-page__header">
        {% include "core/includes/zaaktype_header.html" %}

        <nav class="page-controls page-controls--align-right">
            <button type="submit" class="btn btn--control btn--control-focus">
                {% if open_url %}
                    Uitgevoerd
                {% else %}
                    Bewaren
                {% endif %}
            </button>
        </nav>

    </header>

    <article class="zaak-detail">

        <section class="zaak-detail__panel content-panel content-panel--flat">
            {% widget 'form:non_field_errors' %}

            <div class="form__group-title">Gegevens</div>
            <div class="form__field-group">
                {% for field in form %}
                    {% form_field field %}
                {% endfor %}
            </div>

        </section>

        <section class="zaak-detail__panel content-panel">
            <div class="section-title">Zaakinformatie</div>

            <p class="content-panel__content {% if not zaak.omschrijving %}content-panel__content--blurred{% endif %}">
                {{ zaak.omschrijving|default:"(geen omschrijving)" }}
            </p>

            <p class="content-panel__content {% if not zaak.toelichting %}content-panel__content--blurred{% endif %}">
                {{ zaak.toelichting|linebreaksbr|default:"(geen toelichting)" }}
            </p>
        </section>

        {% if formset %}
            <section class="content-panel formset">
            {{ formset.management_form }}
            {{ formset.non_form_errors }}

            <table class="table table--comfortable">
                <thead>
                    <tr>
                    {% for inline_form in formset.forms %}
                        {% if forloop.first %}
                            {% for field in inline_form %}
                                <th class="table__header {% if field in inline_form.hidden_fields %}table__column--hidden{% endif %}">{{ field.label }}</th>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                    </tr>
                </thead>

                <tbody>
                {% for inline_form in formset %}
                    {{  inline_form.non_field_errors }}
                    <tr>
                        {% for field in inline_form %}
                            <td class="{% if field in inline_form.hidden_fields %}table__column--hidden{% endif %}">{{ field }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            </section>

        {% endif %}

    </article>

</form>

{{ open_url|json_script:"openUrl" }}

{% endblock content %}
