.stepcounter
{
	position: relative;

	&:before
	{
		position: absolute;
		content: "";
		width: 100%;
		top: 3em;
		border-top: 2px solid $geel;
	}

	.intro &
	{
	  font-size: 0.8em;
	}
}

.formsteps
{
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
	-ms-flex-pack: justify;			
	-webkit-justify-content: space-between;
	justify-content: space-between;

  padding: 3em 0 0;
  position: relative;
		
	> span
	{
		-ms-flex: 0 1 auto;
		-webkit-flex: 0 1 auto;
		flex: 0 1 auto;

		display: block;
		height: 2em; // Height set to make IE10 flexbox work.
		margin: 0;
		padding: .25em 0;
		align-items: center;
		position: relative;
	}

	strong
	{
		display: inline-block;
		width: .5em;
		height: .5em;
		position: relative;
		left: 0;
		top: -1em;
		padding: 0;
		border-radius: 50%;
		background: $geel;
		text-align: center;
		font-weight: normal;
	}

	.current strong,
	.step-1 strong,
	.total strong
	{
		padding: .4em .5em .25em;
		width: 2.25em;
		height: 2.25em;
		top:-1.25em;		
	}
	
	.current strong
	{
		background-color: $zwart;
		color: $wit;
		font-weight: bold;
	}
	
	.steplabel
	{
		position: absolute;
		top: -3em;
		left: .15em;
		font-size: .8em;
		color: $zwart;
		font-weight: bold;
		text-transform: uppercase;
	}
}

@if ($render == ie)
{
	.stepcounter
	{
		float: left;
		margin-top: 1.5em;
		border-top: 2px solid $geel;
		
		&:before
		{
			display: none;
		}
		
		+ h1,
		+ h2
		{
			clear: left;
		}
	}
	.formsteps
	{
		margin-top: -0.1em;
		padding-top: 0;
		
		> span
		{
			display: block;
			float: left;
			margin-right: 2em;
			
			&.total
			{
				margin-right: 0;
			}
		}
	}
	
	.ie7,
	.ie8
	{
		
	}
}
