<footer class="footer">

    <div class="footer__content">

        <div class="footer__column">
            <h3>GEMEENTE UTRECHT</h3>
            <p>Maandag t/m vrijdag 8.30 - 17.30 uur,<br> donderdag tot 20.00 uur</p>

            <div class="footer__contact-details">
                <div>
                    <h3>Telefoon</h3>
                    <p>14 030</p>
                </div>
                <div>
                    <h3>Adres</h3>
                    <p>Stadskantoor<br> Stadsplateau 1<br> 3521 AZ Utrecht</p>
                </div>
            </div>

        </div>

    </div>

</footer>
