@import "../lib/bem";
@import "../lib/colors";

.badge {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  width: 1.3rem;
  height: 1.3rem;
  background: $color-primary;
  color: white;
  font-weight: 400;
  padding: 0.5rem;
  font-size: 0.9rem;

  @include modifier("spacing") {
    margin: 0 0.5em;
  }
}
