$divider-color: #eee !default;
$divider-width--short: 25%;

.divider {
  display: block;
  width: 100%;
  height: 4px;
  background: $divider-color;

  margin-top: 4rem;
  margin-bottom: 4rem;

  &#{&}--short {
    width: $divider-width--short;
    margin-left: auto;
    margin-right: auto;
  }
}
