@import "../lib/bem";
@import "../lib/responsive";

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 2rem;

  @include modifier("space-rows") {
    row-gap: 1rem;
  }

  @include element("column") {
    @include modifier("col12") {
      grid-column: span 12;
    }
    @include modifier("col8") {
      grid-column: span 8;
    }
    @include modifier("col6") {
      grid-column: span 6;
    }
    @include modifier("col4") {
      grid-column: span 4;
    }
  }

  @include screen-xs() {
    @include element("column") {
      @include modifier("col12") {
        grid-column: span 12;
      }
      @include modifier("col8") {
        grid-column: span 12;
      }
      @include modifier("col6") {
        grid-column: span 12;
      }
      @include modifier("col4") {
        grid-column: span 12;
      }
    }
  }
}
