@import "../lib/colors";

$loader-size: 40px !default;
$loader-thickness: 5px !default;
$loader-duration: 1s !default;

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader {
  display: block;

  width: $loader-size;
  height: $loader-size;
  margin: 0 auto;

  border: solid $loader-thickness rgba($color-primary, 0.2);
  border-top: solid $loader-thickness $color-primary;
  border-radius: 50%;

  animation: spin $loader-duration linear infinite;
}

.loader-wrapper {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
