@import "../lib/bem";
@import "../lib/colors";
@import "../lib/typography";


.user-task {
  display: flex;

  @include element("description") {
    font-weight: 600;
    width: 50%;
  }

  @include element("created") {
    display: block;
    @include timestamp;
    font-weight: 400;
  }

  @include element("due") {
    width: 20%;

    > * {
      display: block;
    }
  }

  @include element("assignee") {
    flex-grow: 1;
    text-align: right;
  }

  & + & {
    margin-top: 1em;
  }
}
