.zaak-card {
  padding: 0.5em;
  border: solid 1px #DDDDDD;

  & + .zaak-card {
    margin-top: .5em;
  }
}

.detail-card {
  padding: 1.5rem 1.8rem;
  box-shadow: 0 2px 20px rgba(0,0,0,0.1);
  border-radius: 4px;
}
