.gemeenteraad
{
	clear: left;
	
	&:after
	{
		@include floatclear;
	}
	
	.toptaken
	{
		@include tweakpoint('min-width',60em)
		{
			width: 33.3%;
			float: right;
		}
		
		ul
		{
			padding: 0;
		}
		
		ul li
		{
			padding: 0 1.2em;
			@include tweakpoint('min-width',35em)
			{
				width: 50%;
				margin-right: 0;
			}
			

			@include tweakpoint('min-width',60em)
			{
				width: 100%;
				float: none;
				margin-right: 0;
			}			
		}
	}
	
	.lijsten
	{
		@include tweakpoint('min-width',60em)
		{
			width: 66.6%;
			float: left;
		}
		
		.gridlist
		{
			@include tweakpoint('min-width',60em)
			{
				min-height: 8.25em;
			}			
		}
		
		h2.upper
		{
			margin-top: 0;
		}
		
		p
		{
			margin-bottom: 0.6em;
		}
	}
	
}