@import "../lib/bem";
@import "../lib/colors";

$document-selection--spacing: 0.5em !default;

.document-selection-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  padding-top: 1em;

  margin-left: -$document-selection--spacing;
  margin-right: -$document-selection--spacing;
}

.document-selection {
  width: 20%;

  @include element("toggle") {
    display: none;
  }

  @include element("preview") {
    border: solid 2px transparent;
    padding: 1em;
    margin: $document-selection--spacing;

    &:hover {
      cursor: pointer;
      background: rgba($color-secondary, 0.2);
      box-shadow: 2px 2px 3px 0px rgba(black, 0.2);
    }
  }

  &__toggle:checked + &__preview {
    background: rgba($color-secondary, 1);
    box-shadow: 2px 2px 3px 0px rgba(black, 0.2);
  }
}
