@import "../lib/bem";
@import "../lib/colors";
@import "../lib/typography";

.iot-permission {
  display: flex;
  border: solid 1px #c8cacc;
  padding: .5em;

  @include modifier('enabled') {
    @include element('icon') {
      color: #3aa80b;
    }
  }

  @include element('icon') {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 300%;
    color: #a80b2b;
    cursor: pointer;
  }

  @include element('title') {
    display: block;
    font-weight: 600;
    margin-bottom: 0.5em;
    cursor: pointer;
  }

  @include element('va-select') {
    // overrides the .input__control--select
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    height: 32px !important;
  }
}
