@import "../lib/bem";
@import "../lib/colors";
@import "../lib/typography";

.list {
  list-style: none outside;
  margin: 0;
  padding: 0;

  @include modifier("timeline") {
    margin-left: 34px;

    @include element("item") {
      position: relative;
      margin-bottom: 10px;
      padding-top: 14px;

      &:before {
        display: block;

        border-left: solid 2px #b3b3b3;
        content: "";

        position: absolute;
        bottom: 0;
        top: 0;
        left: -21px;
        width: 22px;

        margin-bottom: -10px;
        margin-left: 0;
        margin-right: 16px;

        font-size: 16px;
        line-height: 26px;
      }

      > p {
        line-height: 24px;
        margin-top: 0;
        margin-bottom: 10px;
      }

      &:after {
        content: "";
        display: block;
        background-color: #b3b3b3;
        border-radius: 50%;

        height: 12px;
        width: 12px;

        position: absolute;
        top: 20px;
        left: -26px;
      }
    }
  }

  @include element("item") {
    margin-left: 0;

  }

  @include element("item-heading") {
    display: block;
    margin: 0;
    padding: 0;

    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
  }

}
