$main-content-background-color: #fefefe !default;

.main {
  display: flex;
  min-height: 90vh;
  padding: 0;

  & &__nav {
    min-width: 300px;
    width: 16vw;
    margin: 1rem;
    margin-right: 0.5em;

    // depth
    border: solid 1px #ddd;
    box-shadow: 1px 1px 2px 0px rgba(black, 0.1);

    // stick nav bar when scrolling
    position: sticky;
    align-self: flex-start;
    top: 1em;
  }

  & &__content {
    flex: 1;
    background-color: $main-content-background-color;
    margin: 1rem;
    margin-left: 0.5rem;
    padding: 1em;
  }
}
