@import "../lib/bem";
@import "../lib/colors";

$nav-menu__item-color: $color-primary !default;
$nav-menu__item-background-color--hover: $color-primary !default;

.nav-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 1.2rem;

  @include modifier('object-id') {
    padding-left: 1em;
    font-size: 1.05rem;

    @include element('item') {
      @include modifier('active') {
        border-left-color: rgba($color-highlight, 0.3);
      }

      &:hover {
        border-left-color: $color-highlight;
      }
    }

    @include element('item-link') {
      color: lighten($color-text, 15%);
      padding: 0.5rem 0.4rem;

      &:before {
        content: "> ";
        color: lighten($color-text, 40%);
      }
    }
  }

  @include element('item') {
    border-bottom: solid 1px #eee;
    border-left: solid 4px transparent;
    transition: all 0.2s ease;
    margin: 0;

    &:last-child {
      border-bottom-color: transparent;
    }

    @include modifier('active') {
      border-left-color: rgba($nav-menu__item-background-color--hover, 0.3);
    }

    &:hover {
      border-left-color: $nav-menu__item-background-color--hover;
    }
  }

  @include element('item-link') {
    display: block;
    padding: 1rem 0.8rem;
    color: $nav-menu__item-color;
    text-decoration: none;
    transition: all 0.2s ease;

    &:hover {
      text-indent: 4pt;
    }
  }
}
