@import "../lib/typography";
@import "../lib/colors";

$page-title__extra-color: rgba($color-text, 0.5) !default;

.page-title {
  @include title;
  font-size: 1.6rem;

  margin-top: 0;
  margin-bottom: 1rem;

  &__extra {
    color: $page-title__extra-color;
    font-size: 1.2rem;
    vertical-align: baseline;
  }
}
