.pand {

  padding: 1em 0;
  display: flex;
  flex-wrap: wrap;

  & &__identificatie {
    width: 100%;
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  & &__meta {
    min-width: 320px;
    margin-right: 2em;

    .key-value + .key-value {
      margin-top: 0.1em;
    }
  }

  & &__adressen {
    flex: 1;

    display: flex;
    flex-wrap: wrap;

    margin-left: -5px;
    margin-right: -5px;

    > .section-title {
      width: 100%;
      margin-left: 5px;
      margin-right: 5px;
    }
  }

  & &__adres {
    min-width: 100px;
    width: 20%;
    font-style: normal;
    font-size: 0.9em;
    line-height: 1.2;
    padding: 5px;
  }
}
