.permission-set {
  display: flex;
  flex-wrap: wrap;

  padding-bottom: 1em;

  & &__name {
    font-weight: 600;
    width: 50%;
  }

  & &__zaaktypen {
    width: 100%;
  }

  & &__va {
    width: 50%;
    padding-left: 1em;
  }
}
