@import "../lib/colors";

.progress-bar {
  display: block;
  border: solid 1px $color-primary;
  border-radius: 2px;
  text-align: center;

  & &__progress {
    background: $color-primary;
    color: white;
    font-size: 0.8rem;
  }
}
