@import "../lib/bem";

.result {
  margin-bottom: 1rem;
  @include element("title") {
    margin: 0 0 3px 0;
    font-size: 1rem;
  }
  @include element("value") {
    margin: 0;
  }
}
.subresult {
  @include element("title") {
    font-weight: bold;
    display: inline-block;
    margin: 0 0.4rem 0 0;
    &:after {
      content: ':'
    }
  }
  @include element("value") {
    margin: 0;
    display: inline-block;
  }
  @include element("row") {
    margin-left: 2rem;
    margin-bottom: 2rem;
  }
}
