.result {
  margin-bottom: 1rem;

  &__title {
    margin: 0 0 3px 0;
    font-size: 1rem;
  }

  &__value {
    margin: 0;
  }
}

.subresult {
  &__title {
    font-weight: bold;
    display: inline-block;
    margin: 0 0.4rem 0 0;
    &:after {
      content: ':'
    }
  }

  &__value {
    margin: 0;
    display: inline-block;
  }

  &__row {
    margin-left: 2rem;
    margin-bottom: 2rem;
  }
}
