@import "../lib/colors";

$timeline__item-dot-color: $color-primary !default;


.timeline {
  padding: 0;
  margin: 0;
  list-style-type: none;

  & &__item {
    display: flex;
    align-items: center;

    &--legenda {
      border-bottom: solid 1px #eee;

      .timeline__item-nr {
        visibility: hidden;
      }
    }
  }

  & &__item-nr {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: $timeline__item-dot-color;
    color: white;
    font-weight: 600;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 3rem;
  }

  & &__item-content {
    flex: 1;
  }

  & &__item-timestamp {
    display: block;
    color: lighten($color-text, 20%);
    font-size: 1.2rem;
  }
}
