@import "../lib/bem";
@import "../lib/typography";

.user-select {
  margin-bottom: 1rem;

  &:first-of-type {
    margin-top: 1rem;
  }

  @include element("title") {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    & h3 {
      font-size: 1.2rem;
      margin: 0 0.3rem 0 0;
      text-transform: uppercase;
    }
  }

  @include element("selector") {
    position: relative;
    margin-bottom: 1rem;
  }
}
