@import "../lib/bem";

$main-content-background-color: #fefefe;

.zaaktype-select {
  font-size: 0.9rem;

  @include element("groups") {
    list-style-type: none;
    padding-inline-start: 0;
  }

  @include element("items") {
    list-style-type: none;
  }

  @include element("btn-expand") {
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 20px;
    height: 20px;
    text-align: center;
  }

  @include element("group") {
    display: inline-flex;
    max-width: calc(100% - 24px);
  }
}
