{% extends "core/zaak_task.html" %}
{% load i18n sniplates %}


{% block form_body %}

<div class="page-title">Digitale ondertekening</div>

{% load_widgets form='sniplates/forms.html' %}

{% form_field form.documenten %}

<!--
    TODO: output this in JSON format
    {{ formset.errors }}
-->

<div class="section-title">Ondertekenaars</div>

<div
    class="react-validsign-signers"
    data-extra="{{ formset.extra }}"
    data-prefix="{{ formset.prefix }}"
    data-min-num="{{ formset.min_num }}"
    data-max-num="{{ formset.min_num }}"
    data-initial="{{ formset.initial_form_count }}"
>
    {# React managed #}
</div>

{% endblock %}
