{% extends "master.html" %}
{% load sniplates %}


{% block content %}
<h1 class="page-title">
    Request access for {{ zaak.identificatie }}
</h1>

<form action="{% url 'core:access-request-create' zaak.bronorganisatie zaak.identificatie %}" method="post" class="form">
    {% csrf_token %}

    {% load_widgets form='sniplates/forms.html' %}

    {% widget 'form:non_field_errors' %}

    <div class="form__field-group">
        {% form_field form.comment %}
    </div>

    {% widget 'form:submit' label=_("Toevoegen") %}
</form>


{% endblock %}
