{% extends "core/zaak_detail.html" %}
{% load i18n sniplates static %}

{% block extra_css %}
<base href="{% static 'js/vendor/contezza/' %}" />
{% endblock %}

{% block post-body %}
<script src="{% static 'js/vendor/contezza/documentlist.js' %}"></script>
{% endblock %}

{% block content %}

<a href="{% url 'core:zaak-detail' bronorganisatie=zaak.bronorganisatie identificatie=zaak.identificatie %}" class="link link--backlink">
    Terug naar de zaakgegevens
</a>

<header class="zaak-detail-page__header">

    <h1 class="page-title" title="Zaaktype">
        Besluit toevoegen
        <br>
        <small class="page-title__extra" title="Zaaktype">
            {{ zaak.zaaktype.omschrijving }}
        </small>
    </h1>

</header>

<article class="zaak-detail">

    {% load_widgets form='sniplates/forms.html' %}

    {% widget 'form:non_field_errors' %}

    <form action="{{ request.path }}" method="post" class="form form--wide">
        {% csrf_token %}

        <section class="zaak-detail__panel zaak-detail__panel--full content-panel">

            {% form_field form.besluittype %}

            <div class="form__field-group" role="group">
                {% form_field form.beslisdatum %}
                {% form_field form.ingangsdatum %}
            </div>

            {% form_field form.document %}

        </section>

        <div class="btn-row">
            {% widget 'form:submit' label=_("Add") %}
        </div>

    </form>

</article>

{% endblock content %}
