{% extends "master.html" %}
{% load i18n sniplates %}


{% block content %}
<h1 class="page-title">Zaken</h1>

<div class="section-title">Filters</div>

{% load_widgets form='sniplates/forms.html' %}
{% load_widgets filters='sniplates/filters.html' %}

<form class="filters" action="." method="get">

    {% nested_widget 'filters:filter' name="identificatie" index=0 label=_("Identification") %}
        {% form_field filter_form.identificatie %}
    {% endnested %}

    {% nested_widget 'filters:filter' name="zaaktypen" index=1 label=_("Zaaktype(s)") %}
        {{ filter_form.fields.zaaktypen.choices|json_script:"zaaktypeChoices" }}
        {{ filter_form.zaaktypen.value|json_script:"selectedZaaktypen" }}
        <div class="zaaktypen-select" data-name="zaaktypen"> {# React managed #} </div>
    {% endnested %}

    {% widget 'filters:submit' %}

</form>

{% include "core/includes/zaken_table.html" with zaken=zaken %}

{% endblock content %}
