{% extends "core/zaak_detail.html" %}
{% load i18n sniplates rules %}


{% block content %}
{% load_widgets form='sniplates/forms.html' %}

{% has_perm 'activiteiten:schrijven' user zaak as can_mutate_activities %}

<a href="{% url 'core:zaak-detail' bronorganisatie=zaak.bronorganisatie identificatie=zaak.identificatie %}" class="link link--backlink">
    Terug naar de zaakgegevens
</a>

<header class="zaak-detail-page__header">

    <h1 class="page-title" title="Zaaktype">
        Activiteiten voor "{{ zaak.zaaktype.omschrijving }}"-zaak
        <br>
        <small class="page-title__extra" title="Zaaktype">
            {{ zaak.zaaktype.omschrijving }}
        </small>
    </h1>

    <nav class="page-controls page-controls--align-right">
        <!-- react portal -->
    </nav>

</header>

<article class="zaak-detail">
    <div
        class="case-activities"
        data-zaak="{{ zaak.url }}"
        data-endpoint="{% url 'activities:activity-list' %}"
        data-events-endpoint="{% url 'activities:event-list' %}"
        data-csrftoken="{{ csrf_token }}"
        data-can-mutate="{{ can_mutate_activities|yesno:'true,false' }}"
        style="width: 100%;"
    >
        <!-- react managed -->
    </div>
</article>

{% endblock content %}
