{% extends "master.html" %}
{% load sniplates solo_tags i18n %}


{% block subtitle %}Inloggen{% endblock subtitle %}


{% block content %}
{% get_solo 'django_auth_adfs_db.ADFSConfig' as adfs_config %}
{% if adfs_config.enabled %}
    <div class="form form--centered form--centered-content">

        <a href="{% url 'django_auth_adfs:login' %}" class="btn btn--primary">
            {% trans "Login with ADFS" %}
        </a>

    </div>

    <div class="divider divider--short"></div>
{% endif %}


<form action="." method="post" class="form form--centered form--large">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ request.GET.next }}">

    {% load_widgets form='sniplates/forms.html' %}

    {% widget 'form:non_field_errors' %}

    {% form_field form.username %}
    {% form_field form.password %}

    {% if adfs_config.enabled %}
        {% widget 'form:submit' label=_("Log in") primary=False %}
    {% else %}
        {% widget 'form:submit' label=_("Log in") primary=True %}
    {% endif %}
</form>

{% endblock content %}
