{% extends "master.html" %}
{% load sniplates solo_tags i18n %}
{% block subtitle %}Inloggen{% endblock subtitle %}


{% block content %}
<div class="submit-row">
    <div class="form form--centered form--centered-content">
        <a href="{% url 'oidc_authentication_init' %}" class="btn btn--primary">
            {% trans "Login with OIDC" %}
        </a>
    </div>
    <div class="divider divider--short"></div>
</div>
{% get_solo 'core.CoreConfig' as core_config %}
{% if core_config.non_sso_login_enabled %}
    <form action="." method="post" class="form form--centered form--large">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.GET.next }}">

        {% load_widgets form='sniplates/forms.html' %}

        {% widget 'form:non_field_errors' %}

        {% form_field form.username %}
        {% form_field form.password %}

        {% if oidc_config.enabled %}
            {% widget 'form:submit' label=_("Log in") primary=False %}
        {% else %}
            {% widget 'form:submit' label=_("Log in") primary=True %}
        {% endif %}
    </form>
{% endif %}
{% endblock content %}
